.bgAbout{
    /* background-image: url('../images//aboutHero.jpeg'); */
    background-color: rgb(180, 191, 203);
    background-repeat: no-repeat;
    background-size: cover;
    /* height:40vh; */
}
.size{
    font-size: 45px;
    /* width: 50%; */
}
.size2{
    width: 80%;
    font-size: 17px !important;
}
@media(max-width:1000px){
    .size{
        font-size: 35px;
    }
    .size2{
        font-size: 10px;
    }
}
@media(max-width:800px){
    .size, .size2{
        width: 100%;
    }
}
