.slider2 {
    overflow: hidden;
    position: relative;
  }
  
  .slide-track2 {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .slide-track2::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
  .card-container2 {
    display: flex;
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .scroll-button.left {
    left: 0;
  }
  
  .scroll-button.right {
    right: 0;
  }
  