.border1{
    border-left: 0.1px solid black;
}
.px-css{
    padding-right:3rem !important;
    padding-left: 3rem !important;
}
@media(max-width:1199px){
    .border1{
        border: none;
    }
    .px-css{
        padding-right:18px !important;
        padding-left: 18px !important;
    }
}
/* .blog-box {
    position: relative;
    display: inline-block; 
    box-shadow: 1px 1px 20px black;
    transition: 0.3s;
} */
.blog-box{
    display: flex;
    align-items: center;
    border: 1px solid black;
     transition: 0.3s;
     
}
.blog-img {
    height: 180px;
    width: 180px;
}
@media(max-width:420px){
    .blog-img{
        height: 180px;
        width: 130px;
    }
}
a.blog-box{
    text-decoration: none !important;
    color: black;
}
.blog-box2{
    /* padding: 10px; */
    margin: 2px;
}
.text-center1 {
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* Additional styling properties for text */
    /* display: none; */
    /* opacity: 0;
    transition: opacity 0.5s ; */

}
.blog-box:hover .text-center1{
/* display: block; */
/* opacity: 1; */

}
.blog-box:hover .layerBlog{
    /* display: block; */
    /* opacity: 1; */
}
.layerBlog{
    /* display: none; */
    /* opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    transition: 0.3s; */
}
.blog-box:hover{
    transform: scale(1.02);
}
.mainBlogImg{
    height: 80vh;
}
@media(min-width:1450px){
    .mainBlogImg{
        height: 40vh;
    }
}
@media(max-width:450px){
    .mainBlogImg{
        height: 40vh;
    }
}
@media(max-width:370px){
    .headContent{
        font-size: 10px;
    }
}
@media(max-width:768px){
    .layerBlog{
        opacity: 1;
    }
    .text-center1 {
        opacity: 1;
    }

}
@media(min-width:769px){
    .BlogseeMore{
        display: none;
    }
}
.BlogseeMore{
    text-decoration: none;
    color: #24aae2;
    padding-bottom: 10px;
}
.returnPage{
    background-color: #24aae2;
}
.navv2{
    color: white;
    text-decoration: none;
}